<a href="https://colab.research.google.com/github/bmnds/uea-data-science-03-statistics/blob/main/%5BEstat%C3%ADstica04%5D_Trabalho_Final_Bruno.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Trabalho Final da Disciplina de Estatística do Curso de Pós-Graduação em Ciência de Dados da UEA-AM
**Grupo:** Alberto, Bruno, Lelson e Levi

## O Trabalho
* Definir um tema e os objetivos a serem analisados 
* Escolher um dataframe com no mínimo cinco campos e 25 linhas, dos quais pelo menos dois devem ser numéricos
* Realizar um levantamento amostral atendendo a todos os critérios de avaliação

## A Avaliação
1. [ ] Construir tabelas e gráficos apropriados para cada variável do data frame
2. [ ] Calcular a média, mediana, moda, desvio-padrão, coeficiente de variação
e simetria das variáveis quantitativas
3. [ ] Analisar a normalidade dos dados numéricos e se existe a presença de
outliers
4. [ ] Comparar as variáveis quantitativas e descrever qual é mais homogênea
5. [ ] Calcular os respectivos Intervalos de Confiança ao nível de 95% para cada
campo do data frame
6. [ ] Comparar a média de um campo numérico em relação a um campo
categórico e responder se existe diferença estatística ao nível de 5% de significância
7. [ ] Realizar um cruzamento de dois campos categóricos e responder se existe
diferença estatística ao nível de 5% de significância.

In [1]:
# Pacotes necessários
from six.moves import urllib
from scipy import stats
from scipy.stats import binom, nbinom, poisson, uniform, expon, norm 
import pandas as pd
import statsmodels.stats.proportion as smp
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sea
import statistics as st

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
# Mudança da semente aleatória randômica para manter os resultados em várias execuções
np.random.seed(20201109)

# Dataset de Ocorrências Aeronáuticas da Aviação Civil Brasileira
Dados fornecidos pelo [CENIPA](https://dados.gov.br/dataset/ocorrencias-aeronauticas-da-aviacao-civil-brasileira)

In [ ]:
# Download do dataset
urllib.request.urlretrieve('https://drive.google.com/uc?export=download&id=1jHYzLvKBRcoBWMbDgKqsU969sep-N8sq','cenipa.tar.gz')
!tar -zxvf cenipa.tar.gz
!rm cenipa.tar.gz

cenipa/
cenipa/aeronave.csv
cenipa/fator_contribuinte.csv
cenipa/ocorrencia.csv
cenipa/recomendacao.csv

In [ ]:
bd_aeronave = pd.read_csv('cenipa/aeronave.csv',sep=';',decimal='.',encoding='iso-8859-1')
bd_aeronave.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5307 entries, 0 to 5306
Data columns (total 23 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   codigo_ocorrencia2           5307 non-null   int64
 1   aeronave_matricula           5307 non-null   object
 2   aeronave_operador_categoria  5307 non-null   object
 3   aeronave_tipo_veiculo        5307 non-null   object
 4   aeronave_fabricante          5307 non-null   object
 5   aeronave_modelo              5307 non-null   object
 6   aeronave_tipo_icao           5307 non-null   object
 7   aeronave_motor_tipo          5307 non-null   object
 8   aeronave_motor_quantidade    5307 non-null   object
 9   aeronave_pmd                 5307 non-null   int64
 10  aeronave_pmd_categoria       5307 non-null   int64
 11  aeronave_assentos            5182 non-null   float64
 12  aeronave_ano_fabricacao      5189 non-null   float64
 13  aeronave_pais_fabricante     5307 non-null   object
 14  aeronave_pais_registro       5307 non-null   object
 15  aeronave_registro_categoria  5307 non-null   object
 16  aeronave_registro_segmento   5307 non-null   object
 17  aeronave_voo_origem          5307 non-null   object
 18  aeronave_voo_destino         5307 non-null   object
 19  aeronave_fase_operacao       5307 non-null   object
 20  aeronave_tipo_operacao       5307 non-null   object
 21  aeronave_nivel_dano          5307 non-null   object
 22  aeronave_fatalidades_total   5307 non-null   int64
dtypes: float64(2), int64(4), object(17)
memory usage: 953.7+ KB

In [ ]:
bd_fator_contribuinte = pd.read_csv('cenipa/fator_contribuinte.csv',sep=';',decimal='.',encoding='iso-8859-1')
bd_fator_contribuinte.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3717 entries, 0 to 3716
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   codigo_ocorrencia3   3717 non-null   int64
 1   fator_nome           3717 non-null   object
 2   fator_aspecto        3717 non-null   object
 3   fator_condicionante  3717 non-null   object
 4   fator_area           3717 non-null   object
dtypes: int64(1), object(4)
memory usage: 145.3+ KB

In [ ]:
bd_ocorrencia = pd.read_csv('cenipa/ocorrencia.csv',sep=';',decimal='.',encoding='iso-8859-1')
bd_ocorrencia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5245 entries, 0 to 5244
Data columns (total 22 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   codigo_ocorrencia               5245 non-null   int64
 1   codigo_ocorrencia1              5245 non-null   int64
 2   codigo_ocorrencia2              5245 non-null   int64
 3   codigo_ocorrencia3              5245 non-null   int64
 4   codigo_ocorrencia4              5245 non-null   int64
 5   ocorrencia_classificacao        5245 non-null   object
 6   ocorrencia_latitude             3549 non-null   object
 7   ocorrencia_longitude            3548 non-null   object
 8   ocorrencia_cidade               5245 non-null   object
 9   ocorrencia_uf                   5245 non-null   object
 10  ocorrencia_pais                 5245 non-null   object
 11  ocorrencia_aerodromo            5245 non-null   object
 12  ocorrencia_dia                  5245 non-null   object
 13  ocorrencia_hora                 5236 non-null   object
 14  investigacao_aeronave_liberada  4520 non-null   object
 15  investigacao_status             4887 non-null   object
 16  divulgacao_relatorio_numero     4332 non-null   object
 17  divulgacao_relatorio_publicado  5245 non-null   object
 18  divulgacao_dia_publicacao       1099 non-null   object
 19  total_recomendacoes             5245 non-null   int64
 20  total_aeronaves_envolvidas      5245 non-null   int64
 21  ocorrencia_saida_pista          5245 non-null   object
dtypes: int64(7), object(15)
memory usage: 901.6+ KB

In [ ]:
bd_recomendacao = pd.read_csv('cenipa/recomendacao.csv',sep=';',decimal='.',encoding='iso-8859-1')
bd_recomendacao.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8241 entries, 0 to 8240
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   codigo_ocorrencia       8226 non-null   float64
 1   rec_numero              8241 non-null   object
 2   rec_dia_assinatura      8232 non-null   object
 3   rec_dia_encaminhamento  2636 non-null   object
 4   rec_dia_feedback        5499 non-null   object
 5   rec_status              8241 non-null   object
 6   rec_dest_sigla          8241 non-null   object
 7   rec_dest_nome           8241 non-null   object
 8   rec_conteudo            8240 non-null   object
dtypes: float64(1), object(8)
memory usage: 579.6+ KB

In [ ]:
bd_recomendacao.head()

   codigo_ocorrencia  ...                                       rec_conteudo
0            31379.0  ...  Avaliar junto Ã  AgÃªncia Nacional de AviaÃ§Ã£...
1            31379.0  ...         Avaliar junto Ã  AgÃªncia Nacional de A...
2            11281.0  ...           Divulgar, de imediato, aos seus setor...
3            11281.0  ...           Divulgar, de imediato, para o seu qua...
4            31855.0  ...  Verificar a existÃªncia e as perfeitas condiÃ§...

[5 rows x 9 columns]

In [ ]:
bd_ocorrencia.head()

   codigo_ocorrencia  ...  ocorrencia_saida_pista
0              39115  ...                     NÃO
1              39155  ...                     NÃO
2              39156  ...                     NÃO
3              39158  ...                     NÃO
4              39176  ...                     NÃO

[5 rows x 22 columns]

# Dataset das Eleições Presidenciais dos Estados Unidos 2020
Fontes dos dados:
* https://www.kaggle.com/daithibhard/us-electoral-college-votes-per-state-17882020
* https://www.kaggle.com/unanimad/us-election-2020

Explicação sobre o funcionamento do processo eleitoral dos EUA:
* https://www.usa.gov/election

Sugestões de análises:
* https://www.nbcnews.com/politics/2020-elections/president-results
* https://www.kaggle.com/amitkumarmanjhi/us-election-2020-result-analysis

In [3]:
# Download do dataset
urllib.request.urlretrieve('https://drive.google.com/uc?export=download&id=1I4Hvc3wEsYuRNkinkAyY7LqcpVOLF9-O','us_elections.tar.gz')
!tar -zxvf us_elections.tar.gz
!rm us_elections.tar.gz

us_elections/
us_elections/Electoral_College.csv
us_elections/fontes.txt
us_elections/governors_county.csv
us_elections/governors_county_candidate.csv
us_elections/governors_state.csv
us_elections/house_county.csv
us_elections/house_county_candidate.csv
us_elections/house_state.csv
us_elections/president_county.csv
us_elections/president_county_candidate.csv
us_elections/president_state.csv
us_elections/senate_county.csv
us_elections/senate_county_candidate.csv
us_elections/senate_state.csv

# Bruno

In [109]:
# Nos EUA, cada Estado possui um 'Peso' na votação representado pela quantidade de 'Ellectors' do colégio eleitoral
db_electoral = pd.read_csv('us_elections/Electoral_College.csv')
db_electoral.columns = ['year', 'state', 'electoral_votes']
db_electoral
# Define a representatividade de cada Estado em percentual
#db_electoral['Pct'] = (100* db_electoral.Votes / db_electoral.groupby('Year').Votes.transform(sum))

      year    state  electoral_votes
0     1788  Alabama              NaN
1     1792  Alabama              NaN
2     1796  Alabama              NaN
3     1800  Alabama              NaN
4     1804  Alabama              NaN
...    ...      ...              ...
3004  2004  Wyoming              3.0
3005  2008  Wyoming              3.0
3006  2012  Wyoming              3.0
3007  2016  Wyoming              3.0
3008  2020  Wyoming              3.0

[3009 rows x 3 columns]

In [111]:
# Padroniza o nome do Distrito de Columbia
db_electoral.loc[471,'state'] = 'District of Columbia'
# O nosso interesse é nos valores de 2020
db_electoral_2020 = db_electoral[db_electoral.year.eq(2020)].sort_values('state').reset_index(drop=True)
db_electoral_2020.head()

   year       state  electoral_votes
0  2020     Alabama              9.0
1  2020      Alaska              3.0
2  2020     Arizona             11.0
3  2020    Arkansas              6.0
4  2020  California             55.0

In [8]:
db_president_county_candidate = pd.read_csv('us_elections/president_county_candidate.csv')
db_president_county_candidate

          state           county      candidate party   votes
0      Delaware      Kent County      Joe Biden   DEM   44518
1      Delaware      Kent County   Donald Trump   REP   40976
2      Delaware      Kent County   Jo Jorgensen   LIB    1044
3      Delaware      Kent County  Howie Hawkins   GRN     420
4      Delaware      Kent County      Write-ins   WRI       0
...         ...              ...            ...   ...     ...
31162   Arizona  Maricopa County   Donald Trump   REP  980494
31163   Arizona  Maricopa County   Jo Jorgensen   LIB   31069
31164   Arizona    Mohave County   Donald Trump   REP   77724
31165   Arizona    Mohave County      Joe Biden   DEM   24687
31166   Arizona    Mohave County   Jo Jorgensen   LIB    1281

[31167 rows x 5 columns]

In [123]:
db_president_state = pd.read_csv('us_elections/president_state.csv')
del db_president_state['electoral_vote']
db_president_state.columns = ['state', 'total_votes']
db_president_state.head()

                  state  total_votes
0              Delaware       502384
1  District of Columbia       279152
2               Florida     11075706
3               Georgia      4983735
4                Hawaii       573854

In [124]:
db_state_electoral = pd.merge(db_president_state, db_electoral_2020, how='left', on='state', )
del db_state_electoral['year']
db_state_electoral.head()

                  state  total_votes  electoral_votes
0              Delaware       502384              3.0
1  District of Columbia       279152              3.0
2               Florida     11075706             29.0
3               Georgia      4983735             16.0
4                Hawaii       573854              4.0

In [150]:
# define o candidato mais votado de cada 'state'
db_top_voted_president_state = db_president_county_candidate.groupby(['state', 'candidate', 'party']).sum('votes').sort_values(by = ['state', 'votes'], ascending = [True, False]).groupby('state')
db_top_voted_president_state.head()

                              votes
state   candidate    party
Alabama Donald Trump REP    1434159
        Joe Biden    DEM     843473
        Jo Jorgensen LIB      24994
         Write-ins   WRI       7274
Alaska  Donald Trump REP      80999
...                             ...
Wyoming Donald Trump REP     193454
        Joe Biden    DEM      73445
        Jo Jorgensen LIB       5768
        Brock Pierce IND       2206
         Write-ins   WRI       1655

[242 rows x 1 columns]

In [148]:
# merge com electoral votes 2020
db_top_voted = pd.merge(db_top_voted_president_state, db_state_electoral, how='left', on='state', )
db_top_voted['majority'] = db_top_voted.votes / db_top_voted.total_votes
db_top_voted.head()

     state     candidate party    votes  total_votes  electoral_votes  majority
0  Alabama  Donald Trump   REP  1434159      2309900              9.0  0.620875
1  Alabama     Joe Biden   DEM   843473      2309900              9.0  0.365156
2   Alaska  Donald Trump   REP    80999       172031              3.0  0.470840
3   Alaska     Joe Biden   DEM    45758       172031              3.0  0.265987
4  Arizona     Joe Biden   DEM  1643664      3322535             11.0  0.494702

In [154]:
db_president_results = db_top_voted[db_top_voted.majority.ge(0.501)].groupby(['candidate', 'party']).sum('electoral_votes').sort_values(by = ['electoral_votes'], ascending = [False])
db_president_results

                       votes  total_votes  electoral_votes   majority
candidate    party
Joe Biden    DEM    39434043     66598182            249.0  13.113415
Donald Trump REP    32869168     58832512            214.0  13.688636

In [152]:
db_top_voted[db_top_voted.majority.gt(0.5)].sum()
db_top_voted[db_top_voted.majority.le(0.5)]

                    state     candidate  ... electoral_votes  majority
1                 Alabama     Joe Biden  ...             9.0  0.365156
2                  Alaska  Donald Trump  ...             3.0  0.470840
3                  Alaska     Joe Biden  ...             3.0  0.265987
4                 Arizona     Joe Biden  ...            11.0  0.494702
5                 Arizona  Donald Trump  ...            11.0  0.489590
7                Arkansas     Joe Biden  ...             6.0  0.345972
9              California  Donald Trump  ...            55.0  0.333886
11               Colorado  Donald Trump  ...             9.0  0.420800
13            Connecticut  Donald Trump  ...             7.0  0.391300
15               Delaware  Donald Trump  ...             3.0  0.397817
17   District of Columbia  Donald Trump  ...             3.0  0.051760
19                Florida     Joe Biden  ...            29.0  0.478052
20                Georgia     Joe Biden  ...            16.0  0.494766
21                Georgia  Donald Trump  ...            16.0  0.492689
23                 Hawaii  Donald Trump  ...             4.0  0.342599
25                  Idaho     Joe Biden  ...             4.0  0.330646
27               Illinois  Donald Trump  ...            20.0  0.485335
29                Indiana     Joe Biden  ...            11.0  0.408866
31                   Iowa     Joe Biden  ...             6.0  0.449249
33                 Kansas     Joe Biden  ...             6.0  0.413090
35               Kentucky     Joe Biden  ...             8.0  0.360484
37              Louisiana     Joe Biden  ...             8.0  0.398450
39                  Maine  Donald Trump  ...             4.0  0.434451
41               Maryland  Donald Trump  ...            10.0  0.345026
43          Massachusetts  Donald Trump  ...            11.0  0.324605
45               Michigan  Donald Trump  ...            16.0  0.478620
47              Minnesota  Donald Trump  ...            10.0  0.454157
49            Mississippi     Joe Biden  ...             6.0  0.389367
51               Missouri     Joe Biden  ...            10.0  0.412864
53                Montana     Joe Biden  ...             3.0  0.404319
55               Nebraska     Joe Biden  ...             5.0  0.391329
57                 Nevada  Donald Trump  ...             6.0  0.475840
59          New Hampshire  Donald Trump  ...             4.0  0.454744
61             New Jersey  Donald Trump  ...            14.0  0.401640
63             New Mexico  Donald Trump  ...             5.0  0.436133
65               New York  Donald Trump  ...            29.0  0.429170
67         North Carolina     Joe Biden  ...            15.0  0.486499
69           North Dakota     Joe Biden  ...             3.0  0.317447
71                   Ohio     Joe Biden  ...            18.0  0.452603
73               Oklahoma     Joe Biden  ...             7.0  0.322862
75                 Oregon  Donald Trump  ...             7.0  0.403783
76           Pennsylvania     Joe Biden  ...            20.0  0.496910
77           Pennsylvania  Donald Trump  ...            20.0  0.490160
79           Rhode Island  Donald Trump  ...             4.0  0.390777
81         South Carolina     Joe Biden  ...             9.0  0.434241
83           South Dakota     Joe Biden  ...             3.0  0.356004
85              Tennessee     Joe Biden  ...            11.0  0.373627
87                  Texas     Joe Biden  ...            38.0  0.463296
89                   Utah     Joe Biden  ...             6.0  0.376503
91                Vermont  Donald Trump  ...             3.0  0.317356
93               Virginia  Donald Trump  ...            13.0  0.443400
95             Washington  Donald Trump  ...            12.0  0.386587
97          West Virginia     Joe Biden  ...             5.0  0.295733
98              Wisconsin     Joe Biden  ...            10.0  0.494490
99              Wisconsin  Donald Trump  ...            10.0  0.488262
101               Wyoming     Joe Biden  ...             3.0  0.265597

[56 rows x 7 columns]

In [151]:
db_president_county_candidate.groupby('state').sum('votes')

                         votes
state
Alabama                2309900
Alaska                  131885
Arizona                3322535
Arkansas               1216818
California            14414296
Colorado               3173127
Connecticut            1786557
Delaware                502384
District of Columbia    279152
Florida               11075706
Georgia                4983735
Hawaii                  573854
Idaho                   867971
Illinois               6467031
Indiana                3031629
Iowa                   1686591
Kansas                 1334330
Kentucky               2158802
Louisiana              2147395
Maine                   783776
Maryland               2497959
Massachusetts          3453974
Michigan               5530390
Minnesota              3271288
Mississippi            1148432
Missouri               3010315
Montana                 602777
Nebraska                940210
Nevada                 1323719
New Hampshire           803195
New Jersey             3610021
New Mexico              919261
New York               6641544
North Carolina         5464097
North Dakota            361279
Ohio                   5769689
Oklahoma               1560699
Oregon                 2334762
Pennsylvania           6765139
Rhode Island            505201
South Carolina         2515926
South Dakota            422678
Tennessee              3049471
Texas                 11259148
Utah                   1300030
Vermont                 350178
Virginia               4424408
Washington             3917784
West Virginia           786188
Wisconsin              3297473
Wyoming                 276528